* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #191919;
    font-family: "DM Sans", sans-serif;
    color: #fff;
}

.main-image {
    border-radius: 12px;
    max-width: 650px;
    height: auto;
}

nav {
    font-size: 17px;
}

h1 {
    font-size: 70px;
    letter-spacing: 0.05em;
    font-weight: 400;
    margin-bottom: 90px;
}

h1 > span {
    font-weight: 700;
}

.header {
    padding: 45px 70px;
    display: flex;
    justify-content: space-between;
}

.navigation ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

.main-section {
    margin: 40px 70px;
    display: flex;
    gap: 60px;
}

.main-text-source {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.source ul{
    margin: 16px 22px;
    list-style: none;
    display: flex;
    gap: 17px;
}

.text-source {
    margin-left: 22px;
}

.label_cards {
    max-width: 73px;
    height: 27px;
    background: #191919;
    border-radius: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    padding: 0 16px;
    margin-bottom: 48px;
}

.label_cards_two {
    width: 136px;
    height: 27px;
    background: #191919;
    border-radius: 6px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;
    color: #fff;
    padding: 0 16px;
    margin-bottom: 48px;
}

.episode {
    color: #118da8;
    font-size: 17px;
    margin-bottom: 17px;
}

.card-title {
    font-size: 64px;
    letter-spacing: 0.04em;
    font-weight: 400;
    margin-bottom: 28px;
}

.card-description {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 18px;
}

.card-button {
    width: 208px;
    height: 51px;
    background: #118da8;
    border-radius: 6px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    border: none;
}

.conteiner-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    margin-top: 100px;
}

.conteiner-main-card {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 0 70px;
    margin-top: 40px;
}

.card {
    display: flex;
    background: #000;
    border-radius: 32px;
    padding: 40px;
    gap: 53px;
}

.card img {
    max-width: 389px;
    height: auto;
}

.info-card {
    display: flex;
    flex-direction: column;

} 

.arrow-link {
  background: #118da8;
  border-radius: 400px;
  width: 112px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.arrow-img { 
  width: 108px;
  height: 64px;
}

.section-3 .main-section {
    margin-top: 100px;
} 

.section-3-content {
    display: flex;
    flex-direction: column;
    padding: 148px 0;
}

.section-3-content .episode {
    margin: 0;
}

.section-3-content .card-title {
    margin-bottom: 28px;
} 

.section-3-content > .card-description {
  margin-bottom: 33px;
}